body {
	background: $colorBgBody;
	font-family: $fontBase;
	font-size: $sizeFontBase / 16px * 100%;
	line-height: $lineHeightBase;
}


.mod_skiplinks {
	ul {
		@extend %reset_list;
	}

	a {
		@extend %visuallyhidden_focusable;
	}
}


*,
*:before,
*:after {
	@include box-sizing(border-box);
}

body {
	@extend %clearfix;
}

html,
body {
	height: 100%;
}


.layout_header {
	position: fixed;
	width: $leftColWidth;
	height: 100%;
	& > header {
	}
}
.layout_content {
	@extend %contentblock;
	min-height: 100%;
	padding-left: 40px;
	padding-right: 70px;
	margin-left: $leftColWidth;
}
.layout_header, .layout_content {
}