-# Based on http://www.access-for-all.ch/ch/barrierefreiheit/barrierefreies-webdesign/tools-fuer-barrierefreies-webdesign/accesskeys.html
/ TODO: Define link targets
.mod_skiplinks
	%ul
		%li
			%a{:href => "/",   :accesskey => "0", :title => "[ALT + 0]"} Start page
		%li
			%a{:href => "#mainnav",        :accesskey => "1", :title => "[ALT + 1]"} Skip to main navigation
		%li
			%a{:href => "#maincontent",    :accesskey => "2", :title => "[ALT + 2]"} Skip to content
		%li
			%a{:href => "TO BE DEFINED",   :accesskey => "3", :title => "[ALT + 3]"} Contact page
		%li
			%a{:href => "TO BE DEFINED",   :accesskey => "4", :title => "[ALT + 4]"} Sitemap page
		%li
			%a{:href => "#search",         :accesskey => "5", :title => "[ALT + 5]"} Skip to search