// *** = = = = = = = = = = = = = = = = = = = = = = ***
// Font-size with REM

@mixin font-size($sizeValue: 1.6){
	font-size: ($sizeValue * 1) + px;
	font-size: ($sizeValue / 16) + rem;
}

// *** = = = = = = = = = = = = = = = = = = = = = = ***
// Hyphenation; used with placeholder!
@mixin hyphens {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
%hyphens {
	@include hyphens;
}




// *** = = = = = = = = = = = = = = = = = = = = = = ***
// Google fonts
	/**
	 * Mixins for each font.
	 *
	 * We have to combine 2 font-face methods:
	 * 1) Linking Styles, used by the stylesheets served by Google. Incompatible with IE.
	 * 2) Independent Styles, used by local styles and fonts. Compatible with IE.
	 *
	 * Appart from the fallback fonts (from Arial onwards), we use several font names:
	 * a) The independent names from method 2 come first. They will be valid if no google or no connection, and IE compatible.
	 * b) The google names come afterwards.
	 */

	@mixin ssp-light($fontSize: false) {
		.wf-sourcesanspro-n3-active &, .wf-local & {
			font-family: "source_sans_prolight", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-style: normal;
			@if $fontSize {font-size: $fontSize;}
		}
	}
	@mixin ssp-bold($fontSize: false) {
		.wf-sourcesanspro-n6-active &, .wf-local & {
			font-family: "source_sans_prosemibold", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 600;
			font-style: normal;
			// -webkit-font-smoothing: antialiased;
			@if $fontSize {font-size: $fontSize;}
		}
	}
	@mixin ssp-light-italic($fontSize: false) {
		.wf-sourcesanspro-i3-active &, .wf-local & {
			font-family: 'source_sans_prolight_italic', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-style: italic;
			@if $fontSize {font-size: $fontSize;}
		}
	}
	@mixin ssp-bold-italic($fontSize: false) {
		.wf-sourcesanspro-i6-active &, .wf-local & {
			font-family: 'source_sans_proSBdIt', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 600;
			font-style: italic;
			// -webkit-font-smoothing: antialiased;
			@if $fontSize {font-size: $fontSize;}
		}
	}
	@mixin roboto-slab-light($fontSize: false) {
		.wf-robotoslab-n3-active &, .wf-local & {
			font-family: "roboto_slablight", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-style: normal;
			@if $fontSize {font-size: $fontSize;}
		}
	}