---
layout: no_layout
title: Example component
desc: Optional description text of this component, visible on index (unless "hide_from_index" is set to true)
/hide_from_index: true
---

.mod_example{:"data-example" => "init"}
	%a{:href => "#", :"data-example" => "link"} hello