%nav#sub-nav.mod-social
	%ul
		%li
			%a.google{ :href => 'http://gplus.to/orioltf', :title => 'Google+' } Google+
		%li
			%a.twitter{ :href => 'http://www.twitter.com/orioltf', :title => 'Twitter' } Twitter
		%li
			%a.github{ :href => 'http://www.github.com/orioltf', :title => 'GitHub' } GitHub
		%li
			%a.linkedin{ :href => 'http://www.linkedin.com/in/oriol.torrent', :title => 'LinkedIn' } LinkedIn
		%li
			%a.xing{ :href => 'http://www.xing.com/in/oriol.torrent', :title => 'LinkedIn' } Xing
		%li
			%a.rss{ :href => '/feed.atom', :title => 'RSS' } RSS
		%li
			.no_facebook No facebook
